{% extends "layout.njk" %}
{% block content %}
    <h1>{{message}}</h1>
    <p>välkommen till min sida</p>
    <p>klicka <a href="/om">här</a> </p>


</div>
<nav class="navbar" data-layout="split">
  <ul class="nav">
    <li>
      <a href="/">Hem</a>
    </li>
    <li>
      <a href="/om">om</a>
    </li>
  </ul>
</nav>




{% endblock %}